body {
    background-color: rgb(24, 1, 1);
    padding: 5% 20%;
    text-align: center;
    color: aliceblue;
}

#par {
    background-color: rgb(26, 255, 0);
}
.one {
    height: 3.44%;
    background-color: black;
}

.two {
    height: 6.89%;
    background-color: aqua;
}