body {
    background-color: rgb(24, 1, 1);
    padding: 5% 20%;
    text-align: center;
    color: aliceblue;
    letter-spacing: 30px;
    overflow:hidden;
}

#par {
    background-color: rgb(62, 186, 227);
}
.one {
    height: 3.44%;
    background-color: black;
    text-align: center;
}

.two {
    height: 6.89%;
    background-color: aqua;
}