#a {
    margin: 1%;
    height: 115px;
    display: flex;
    
}
#a1 {
    width: 25%;
    background-color: brown;
}

#a2 {
    width: 75%;
    margin-right: 0;
    margin-left: 2%;
    background-color: blue;
}

#b {
    margin: 1%;
    height: 175px;
    background-color: darkkhaki;
}

#c {
    margin: 1%;
    height: 125px;
    display: flex;
    
}

#c1 {
    width: 33.33%;
    background-color: rgb(27, 230, 51)
}
#c2 {
    width: 33.33%;
    margin-left: 2%;
    margin-right: 2%;
background-color: darkmagenta;
}
#c3 {
    width: 33.33%;
    background-color: rgb(56, 35, 118);
    margin-right: 0;
}
#d {
    margin: 1%;
    height: 100px;
    display: flex;
    
}
#d1 {
    width: 50%;
    background-color: darkorange;
}
#d2 {
    width: 50%;
    margin-left: 2%;
    background-color: rgb(183, 233, 89);
}

#e {
    margin: 1%;
    height: 50px;
background-color: rgb(22, 6, 6);
}

#f {
    margin: 1%;
    height: 100px;
    display: flex;
    
}
#f1{
    width: 25%;
    background-color: rgb(48, 202, 64);
}
#f2{
    width: 25%;
    margin-left: 2%;
    background-color: rgb(26, 170, 170);
}
#f3{
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(236, 37, 26);
}
#f4{
    width: 25%;
    background-color: rgb(108, 22, 179);
}




