body {
    width: 100%;
    height: 100%;
    
}

h2 {
    text-align: center;
    
}


#main {
    height: 400px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc((100% - 400px)/2);
    top: calc((100% - 400px)/2);
} 

#urgent {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content:space-evenly; text-align: center;
}


.urg {
    width: 30%;
    background-color: rgb(132, 130, 127);
    border-radius: 20px 20px 0 0;
}

#main-one {
width: 100%;
height: 50%;
text-align: center;
align-content: center;
display: flex;
justify-content: space-evenly;
align-items: center;
}

#main-two {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    

}


.first-one {
width: 30%;
height: 20%;
background-color: rgb(108, 106, 102);
border-radius:20px 20px 0 0;
transform: rotate(-90deg);
}

.first-ab {
width: 50%;
height: 100% ;
background-color: aqua;
border-radius: 20px;

}
.first-ba {
width: 50%;
height: 100% ;
background-color: rgb(32, 178, 64);
border-radius: 20px;
}
.first-ac {
width: 50%;
height: 100% ;
background-color: rgb(83, 29, 210);
border-radius: 20px;
}
.first-bc {
width: 50%;
height: 100% ;
background-color: rgb(209, 29, 128);
border-radius: 20px;
}