body {
    background-color: rgb(145, 180, 180);
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
}
img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc((100%-200px)/2);
    left: 80%;
   
}