body {
    background-color: rgb(145, 180, 180);
    width: 100vw;
    height: 100vh;
    
    
}
div {
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc((100%-100px) /2);
    left: 90%;
    background-color: aqua;
   
}
*{
    border-sizing: border-box;
    margin: 0;
    padding: 0;
}