
@font-face {
    font-family: 'a';
    src: url(fonts/Nosttalgic.otf);
}
@font-face {
    font-family: 'b';
    src: url(fonts/Abbeyline.ttf);
}
@font-face {
    font-family: 'c';
    src: url(fonts/Admiration\ Pains.ttf);
}
@font-face {
    font-family: 'd';
    src: url(fonts/Kiss\ Me\ Quick.ttf);
   
}
@font-face {
    font-family: 'e';
    src: url(fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: 'f';
    src: url(fonts/Wedgie\ Regular.ttf);
}


h1 {
    font-family: a;
    font-weight: bolder;
}
h2 {
    font-family: b;
}
h3 {
    font-family: c;
}
h4 {
    font-family: d;
}
h5 {
    font-family: e;
   
}
h6 {
    font-family: f;
    font-size: medium;
}
body {
    text-align: center;
}