#parent {
    height: 200px;
    width: 1000px;
    font-size: 25px;
    display: flex;
justify-content: center;
position: absolute;
left: calc((100% - 1000px)/2);
top: calc((100% - 200px)/2);
}

button {
    width: 100px;
    height: 20%;
}