h2 {
    text-align: center;
}

table {
    margin: auto;text-align: center;
    width: 60%;
    height: 400px;
}

th, td {
    border: 2px solid black;
}

.yellow {
    background-color: khaki;
}

.blue {
    background-color: #5d47b8;
}

.green {
    background-color: rgb(28, 196, 45);
}

#free {
    background: linear-gradient(to right, rgb(61, 57, 57), red) ;
}